@import '../../utils/variables.scss';

.content{
    @include flex(column,_,_);
    font-size: 18px;
    &__item-header{
        margin-right: $margin_md;
        margin-bottom: $margin_md;
    }
}
.content >div{
    margin: $margin_sm 0;
}
.content-language{
    display: flex;
    &__child{
        margin: auto $margin_md auto 3px
    }
}
.content-theme{
    @include flex(_,_,_);
    &__child{
        margin: auto $margin_md auto 3px
    }
}
.content-reset__header{
    margin-right: $margin_md;
}
.button-box{
    @include flex(_,space-between,_);
}
.button {
    width: 45%;
    height: 35px;
    margin: $margin_md 0;
    cursor: pointer;
    background: $button-color;
    color: $button-text;
    &:hover {
        background: $button-hover;
    }
}