@import '../../utils/variables.scss';

.add-room{
    padding: 2px;
    font-size: 30px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color:$background;
    border-radius: 50%;
    line-height: 30px;
    text-align: center; 
    background: $button-color;
    margin: 0 10px 0 auto;
}
.add-room:hover{
    background: $border;
    box-shadow: 0 14px 28px $button-color, 0 10px 10px $button-color;
    transition-duration: 0.3s;
}