@import "../../utils/variables.scss";

$button-size: 40px;

.add-room {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 2px;
  font-size: $button-size;
  font-weight: bold;
  width: $button-size;
  height: $button-size;
  color: $background;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  background: $button-color;
  margin: 0 $margin_md 20px;
  cursor: pointer;
}
.add-room:hover {
  background: $border;
  box-shadow: 0 14px 28px $button-color, 0 10px 10px $button-color;
  transition-duration: 0.3s;
}
