@import '../../utils/variables.scss';

.my-account{
    @include flex(column,_,_);
    &__avatar{
        text-align: center;
    }
    &__info{
        @include flex(_,space-between,_);
        margin-bottom: $margin_md;
    }
    &__infochild{
        width: 45%;
    }
    &__input{
        width: 100%;
        border: none;
        padding: $padding_md;
        background:rgb(226, 245, 253);
        outline-color: $link-color;
    }
    &__input::placeholder{
        color: $title-color;
        font-style: italic;
        font-size: $margin_md;
    }
}
