@import '../../utils/variables.scss';

.rooms-header{
    @include flex(column,_,_);
    padding: $padding_md;
    &__userinfo{
        @include flex(_,_,_);
    }
    &__userName{
        align-self: center;
        margin-left: $margin_sm;
        cursor: pointer;
    }
    &__avatar{
        width: 40px;
        border: $border solid 1px;
        border-radius: 50%;
    }
    &__usermenu{
        @include flex(_,space-between,_);
    }
    &__settingsmenu{
        @include flex(_,_,_);
    }
    &__settings{
        cursor: pointer;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: transform 0.8s ease-in-out;
        display: flex;
    }
    &__settings:hover{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    &__logout{
        cursor: pointer;
        transition: transform 0.8s ease-in-out;
        margin-left: $margin_sm;
        height: 50%
    }
    &__logout:hover{
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    &__search{
        margin: 0 auto;
        padding: $padding_md;
        width: 100%;
    }
    &__input{
        border: none;
        padding: $padding_md;
        background:$input-color;
        width: 85%;
        outline-color: $link-color;
    }
    &__input::placeholder{
        color: $title-color;
        font-style: italic;
        font-size: 10px;

    }
}