@import '../../utils/variables.scss';

.title {
    text-align: left;
    margin: 0 auto;
    width: 50%;
    color: $title-color;
    letter-spacing: 1.5px;
    cursor: default;
    &__big {
        font-size: 40px;
        color: $l-body-text-color;
    }
    &__small {
        font-size: 30px;
        color: $l-body-text-color;
    }
}
