@import "../../utils/variables.scss";

.inner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: $background;
  position: relative;
}

.header {
  background: $button-color;
  color: $button-text;
  padding: $padding_lg;
  @include flex(row, center, center);
  &__appName {
    margin-right: $margin_md;
    margin-top: auto;
    margin-bottom: auto;
    cursor: default;
  }
  &__logo {
    width: 60px;
    text-align: center;
  }
}
.rooms__box {
  width: 30%;
  height: 90vh;
  position: absolute;
  border-right: $border solid 2px;
  padding: 0 10px 0;
}

.theme-dark {
  .inner {
    background: $l-body-background;
  }
  .rooms__box {
    background: $l-body-background;
  }
}
