* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@mixin flex($fd, $js, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $js;
    align-items: $ai;
}

$background: #fff;

$button-color: #46504f;
$button-text: #fff;
$button-hover: #209a9f;

$input-color: #e3f1f2;

$border: #909696;
$link-color: #209a9f;
$title-color: #464e4e;
