* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
@mixin flex($fd, $js, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $js;
  align-items: $ai;
}

$margin_sm: 5px;
$margin_md: 10px;
$margin_lg: 15px;
$margin_xl: 20px;

$padding_sm: 5px;
$padding_md: 10px;
$padding_lg: 15px;

$background: #fff;

$button-color: #46504f;
$button-text: #fff;
$button-hover: #209a9f;

$input-color: #e3f1f2;

$border: #909696;
$link-color: #209a9f;

$title-color: #464e4e;

$disabled: #ccc;
$error: rgb(255, 119, 119);
$error-border: rgb(255, 81, 81);

$cross: #409aa2;

$l-body-background: #3d3d3d;
$l-body-text-color: #d8d8d8;
$l-input: #777;
