@import '../../utils/variables.scss';
$width: 600px;
.gen {
    height: 100vh;
    @include flex(row, center, center);
    &__container {
        width: 80%;
        margin: 0 auto;
    }
    &__holder {
        margin: 0 auto;
        width: 800px;
        height: 100%;
    }
    &__info {
        width: $width;
        height: fit-content;
    }
    &__main {
        width: $width;
        height: fit-content;
        background: $background;
        border-radius: 12px;
    }
    &__buttons {
        @include flex(row, space-around, center);
        height: 20%;
    }
    &__link {
        display: block;
        width: 100%;
        text-align: right;
        color: $link-color;
    }
}
.container {
    padding: 0 $padding_lg;
}
